@size-unit-normal: @window-width-normal/3;
// @cursor-image: '/images/cursor.png';
.tts__more,.tts__main,.tts__item{
    cursor: pointer;
}
.tts__more{
    width: @size-unit-normal;
    height: @size-unit-normal;
}
.tts__main{
    width: @size-unit-normal*2;
    height: @size-unit-normal;
    // cursor: url(@cursor-image),auto;
    .main__thumb{
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
.tts__item{
    width: @size-unit-normal;
    height: @size-unit-normal;
    // cursor: url(@cursor-image),auto;
}
