@window-width-normal: 840px;
@size-unit-normal: @window-width-normal/3;

@window-width-large: 1150px;
@size-unit-large: @window-width-large/3;

@window-width-mini: @window-width-normal*2/3;
@size-unit-mini: @window-width-mini/2;

@window-width-h5: 960px;
.body--large{
    #youkuplayer{
      width: 800px;
      margin-left: -400px;
      height: 400px;
      margin-top: -200px;
    }
    .window{
        width: @window-width-large;
        .home__main__container{
          margin-top: -@size-unit-large * 1.8/2
        }
        .main__slider__pages{
            height: @size-unit-large * 1.8;
        }
        .tts__more{
            width: @size-unit-large;
            height: @size-unit-large*0.9;
            padding-top: 100px;
        }
        .tts__main{
            width: @size-unit-large * 2;
            height: @size-unit-large*0.9;
        }
        .tts__item{
            width: @size-unit-large;
            height: @size-unit-large*0.9;
        }
        .slider__page {
            height: @size-unit-large * 1.8;
        }
        .animation__list{
            height: @size-unit-large !important;
            top: @size-unit-large*0.9  !important;
        }
        .animation__item{
            width: @size-unit-large !important;
            height: @size-unit-large*0.9 !important;
            &--2{
                left: @size-unit-large !important;
            }
        }
        .origin__list{
            height: @size-unit-large*0.9 !important;
            top: @size-unit-large*0.9 !important;
        }
        .origin__item{
            width: @size-unit-large !important;
            height: @size-unit-large*0.9 !important;
            &--2{
                left: @size-unit-large !important;
            }
        }
        .vfx__list{
            height: @size-unit-large*0.9 !important;
            top: @size-unit-large*0.9 !important;
        }
        .vfx__item{
            width: @size-unit-large !important;
            height: @size-unit-large*0.9 !important;
            &--2{mo
                left: @size-unit-large !important;
            }
        }
    }
}
