@showcase-width: (@window-width-normal - 20)/3;
.page__vfx{
    height: 100%;
    margin: 0 auto;
    position: relative;
    .page__vfx__cover{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: @color-grey;
        overflow-x: hidden;
        overflow-y: auto;
        .vfx__cover__list{
            width: 99%;
            margin: 0 auto;
        }
        .vfx__cover__item{
            width: 33%;
            display: inline-block;
            padding: 40px 25px 0 25px;
            box-sizing: border-box;
            img{
                width: 100%;
            }
        }
    }
    .vfx__more{
        position: absolute;
        top: 0;
        left: 0;
    }
    .vfx__main{
        position: absolute;
        top: 0;
        right: 0;
    }
    .vfx__list{
        overflow: hidden;
        width: 100%;
        height: @size-unit-normal;
        position: absolute;
        top: @size-unit-normal;
        left: 0;
    }
    .vfx__item{
        position: absolute;
        top: 0;
        width: @size-unit-normal;
        height: @size-unit-normal;
        overflow: hidden;
        &--1{
            left: 0;
        }
        &--2{
            left: @size-unit-normal;
        }
        &--3{
            right: 0;
        }
    }
    .vfx__showcases{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .showcases__cover{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .showcases__item{
        float: left;
        width: @showcase-width;
        padding: @showcase-width/10;
    }
}
