@import "./_showcase.less";
.form__item__image{
  .form__area__hidden{
    display: none;
  }
  &.done,.done{
    .form__input{
      display: none;
    }
    .form__area__hidden{
      display: inline-block;
    }
  }
}
