@import '_normalize';
@import '_variables';
@import '_mixins';
@import "_icons";

body{
  height: 100%;
    font-family:"Microsoft YaHei",Lyh-Regular,helvetica,arial,sans-serif;
    a{
        text-decoration: none;
        &:hover,&:link,&:visited,&:active{
            text-decoration: none;
        }
    }
    ul{
        padding: 0;
        list-style: none;
        margin: 0;
    }
    p{
        margin: 0;
    }
    .clearfix{
        clear: both;
    }
    textarea{
        resize: none;
    }
}
.tts__btn{
    height: 20px;
    line-height: 20px;
    padding: 10px 20px;
    font-size: 20px;
    box-sizing: content-box;
    background-color: #191919;
    color: #989A9C;
    -webkit-appearance: inherit;
    outline-style: none;
    border-radius: 10px;
    cursor: pointer;
    &:hover{
        color: #fff;
    }
}
