@import './common/base.less';
@import "./part/header.less";
@import "./part/home/main.less";

@bg-image: '/images/bg.jpg';

@window-width-normal: 960px;
@window-height-normal: @window-width-normal*2/3;
@size-unit-normal: @window-width-normal/3;

@window-width-large: 1200px;
@window-height-large: @window-width-large*2/3;
@size-unit-large: @window-width-large/3;

@window-width-mini: @window-width-normal*2/3;
@window-height-mini: @window-width-mini/2;
@size-unit-mini: @window-width-mini/2;

@window-width-h5: 960px;
@window-height-h5: @window-width-h5*2/3;

body{
    background-color: #000;
}
.bak__cover{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(@bg-image);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1;
}
.window{
    color: @color-white;
    margin: 0 auto;
    .tts__footer{
        margin-top: 100px;
        margin-bottom: 50px;
        text-align: center;
        font-size: 14px;
        a{
            color: @color-white;
        }
        i{
            margin-top: -2px;
        }
    }
}
.body--normal{
    .window{
        width: @window-width-normal;
        height: @window-height-normal;

    }
}
.body--large{
    .window{
        width: @window-width-large;
        height: @window-height-large;
        .main__slider__pages{
            height: @size-unit-large * 2;
        }
        .tts__more{
            width: @size-unit-large;
            height: @size-unit-large;
            padding-top: 100px;
        }
        .tts__main{
            width: @size-unit-large * 2;
            height: @size-unit-large;
        }
        .tts__item{
            width: @size-unit-large;
            height: @size-unit-large;
        }
        .slider__page {
            height: @size-unit-large * 2;
        }
        .animation__list{
            height: @size-unit-large !important;
            top: @size-unit-large  !important;
        }
        .animation__item{
            width: @size-unit-large !important;
            height: @size-unit-large !important;
            &--2{
                left: @size-unit-large !important;
            }
        }
        .origin__list{
            height: @size-unit-large !important;
            top: @size-unit-large !important;
        }
        .origin__item{
            width: @size-unit-large !important;
            height: @size-unit-large !important;
            &--2{
                left: @size-unit-large !important;
            }
        }
        .vfx__list{
            height: @size-unit-large !important;
            top: @size-unit-large !important;
        }
        .vfx__item{
            width: @size-unit-large !important;
            height: @size-unit-large !important;
            &--2{
                left: @size-unit-large !important;
            }
        }
    }
}
.body--mini{
    .window{
        width: @window-width-mini !important;
        height: @window-height-mini !important;
        .vfx__cover__item{
            width: 49% !important;
        }
        .tts__more{
            width: @size-unit-mini !important;
            height: @size-unit-mini !important;
            z-index: 1;
        }
        .tts__main{
            width: @size-unit-mini * 2 !important;
            height: @size-unit-mini !important;
        }
        .tts__item{
            width: @size-unit-mini !important;
            height: @size-unit-mini !important;
        }
        .slider__page {
            height: @size-unit-mini * 2;
        }
        .animation__more,.vfx__more,.origin__more{
            top: @size-unit-mini !important;
        }
        .vfx__more,.origin__more{
            right: 0 !important;
            left: inherit !important;
        }
        .animation__item,.vfx__item,.origin__item{
            &--2,&--3{
                display: none !important;
            }
        }
        .head__box{
            .box__logo{
                margin-left: -100px;
            }
            .box__nav{
                margin-right: -100px;
            }
        }
    }
}
.body--h5{
    .window{
        width: @window-width-h5;
        height: @window-height-h5;
    }
}
