 @import './common/base.less';
@import "./part/header.less";
@import "./part/home/main.less";

@window-width-normal: 960px;
@window-height-normal: @window-width-normal*2/3;
@size-unit-normal: @window-width-normal/3;

@window-width-large: 1200px;
@window-height-large: @window-width-large*2/3;
@size-unit-large: @window-width-large/3;

@window-width-mini: @window-width-normal*2/3;
@window-height-mini: @window-width-mini/2;
@size-unit-mini: @window-width-mini/2;

@window-width-h5: 960px;
@window-height-h5: @window-width-h5*2/3;

body{
    background-color: #000;
}
.bak__cover{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(@bg-image);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1;
}
.window{
    color: @color-white;
    margin: 0 auto;
    .tts__footer{
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 20px;
        text-align: center;
        font-size: 14px;
        a{
            color: @color-white;
        }
        i{
            margin-top: -2px;
        }
    }
}
.body--normal{
    .window{
        width: @window-width-normal;
        height: @window-height-normal;

    }
}
.body--large{
    .window{
        width: @window-width-large;
        .main__slider__pages{
            height: @size-unit-large * 1.8;
        }
        .tts__more{
            width: @size-unit-large;
            height: @size-unit-large*0.9;
            padding-top: 100px;
        }
        .tts__main{
            width: @size-unit-large * 2;
            height: @size-unit-large*0.9;
        }
        .tts__item{
            width: @size-unit-large;
            height: @size-unit-large*0.9;
        }
        .slider__page {
            height: @size-unit-large * 1.8;
        }
        .animation__list{
            height: @size-unit-large !important;
            top: @size-unit-large*0.9  !important;
        }
        .animation__item{
            width: @size-unit-large !important;
            height: @size-unit-large*0.9 !important;
            &--2{
                left: @size-unit-large !important;
            }
        }
        .origin__list{
            height: @size-unit-large*0.9 !important;
            top: @size-unit-large*0.9 !important;
        }
        .origin__item{
            width: @size-unit-large !important;
            height: @size-unit-large*0.9 !important;
            &--2{
                left: @size-unit-large !important;
            }
        }
        .vfx__list{
            height: @size-unit-large*0.9 !important;
            top: @size-unit-large*0.9 !important;
        }
        .vfx__item{
            width: @size-unit-large !important;
            height: @size-unit-large*0.9 !important;
            &--2{
                left: @size-unit-large !important;
            }
        }
    }
}
.body--mini{
    .window{
        width: @window-width-mini !important;
        .animation__cover__item,.origin__cover__item,.vfx__cover__item{
            width: 49% !important;
        }
        .tts__more{
            width: @size-unit-mini !important;
            height: @size-unit-mini*0.9 !important;
            z-index: 1;
        }
        .tts__main{
            width: @size-unit-mini * 2 !important;
            height: @size-unit-mini*0.9 !important;
        }
        .tts__item{
            width: @size-unit-mini !important;
            height: @size-unit-mini*0.9 !important;
        }
        .slider__page {
            height: @size-unit-mini * 1.8;
        }
        .animation__more,.vfx__more,.origin__more{
            top: @size-unit-mini*0.9 !important;
        }
        .vfx__more,.origin__more{
            right: 0 !important;
            left: inherit !important;
        }
        .animation__item,.vfx__item,.origin__item{
            &--2,&--3{
                display: none !important;
            }
        }
        .head__box{
            .box__logo{
                margin-left: -50px;
                img{
                    width: 250px;
                }
            }
            .box__nav{
                padding-top: 20px;
                margin-right: -100px;
            }
        }
    }
}
.body--h5{
    overflow-x: hidden;
    height: 100%;
    .window{
        width:100%;
        height: 100%;
        .tts__head{
            padding: 0 20px !important;
            .head__box{
                padding: 20px 0 !important;
            }
            .box__logo{
                width: 30% !important;
                img{
                    width: 100%;
                }
            }
            .box__nav{
                position: absolute !important;
                right: 20px !important;
                top: 30px !important;
                float: none !important;
                padding-top: 0 !important;
                .nav__list{
                    white-space: nowrap;
                    .nav__item{
                        .transform(scale(0.6));
                        .transform-origin(right top);
                        margin: 0;
                    }
                    li:nth-child(2){
                        margin-left: -40px !important;
                        margin-right: -40px !important;
                    }
                }
            }
        }
        .home__main__container{
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            display: flex;
            display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              -webkit-box-align: center;
             -moz-box-align: center;
             -ms-flex-align: center;
             -webkit-align-items: center;
            align-items: center;
        }
        .page__entry__cover{
          padding: 30px 20px !important;
          .info--updown{
            .entry__cover__desc{
              font-size: 16px !important;
            }
          }
        }
        .page__vfx__cover{
          box-sizing: border-box;
          .vfx__cover__list{
            text-align: center;
            .vfx__cover__item{
              width: 45% !important;
              box-sizing: border-box !important;
              padding: 20px 10px 0 10px !important;
            }
          }
        }
        .home__main{
             -webkit-box-flex: 1;
             -webkit-flex:1;
            flex: 1;
            padding: 0 20px !important;
            .slider__spots{
                position: fixed !important;
                top: 50% !important;
                right: 10px !important;
                width: 5px !important;
                left: inherit !important;
                bottom: inherit !important;
                height: 95px !important;
                margin-top: -47.5px !important;
                margin-right: -2.5px !important;
                margin-left: 0 !important;
                .spot{
                    width: 5px !important;
                    height: 5px !important;
                }
            }
            .main__slider__pages{
                width: 100%;
                height: 0;
                padding-bottom: 135%;
            }
            .slider__cover{
                .transition(all 0.8s ease-in-out);
                &.step0{
                    .transform(translate3d(0,0,0));
                }
                &.step1{
                    .transform(translate3d(0,-33.333333%,0));
                }
                &.step2{
                    .transform(translate3d(0,-66.666666%,0));
                }
            }
            .slider__page{
                position: relative;
                height: inherit;
                padding-bottom: 135%;
                .page__box{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
            .origin__main,.vfx__main,.animation__main{
                height: 33.33%;
            }
            .origin__more,.vfx__more,.animation__more{
                width: 50%;
                height:  33.33%;
                top:  33.33% !important;
                left: inherit !important;
                right: 0;
                z-index: 1;
            }
            .origin__list,.vfx__list,.animation__list{
                height: 66.67% !important;
                top: 33.33% !important;
                .origin__item,.vfx__item,.animation__item{
                    width: 50%;
                    height: 50%;
                }
                .origin__item--2,.vfx__item--2,.animation__item--2{
                    left: 0;
                    top: 50%;
                }
                .origin__item--3,.vfx__item--3,.animation__item--3{
                    top: 50%;
                }
            }
            .main__slider__btn{
                &--prev{
                    display: none;
                }
                &--next{
                    right: inherit;
                    top: inherit;
                    left: 50%;
                    bottom: 0;
                    transform: rotate(90deg) scale(0.5);
                    margin-left: -21px;
                    position: fixed;
                }
            }
            .tts__item{
                width: 100%;
                height: 100%;
                .item__entry{
                    padding: 20px 10px;
                }
                .entry__title{
                    font-size: 20px;
                    height: 20px;
                    line-height: 20px;
                }
                .entry__subtitle{
                    font-size: 16px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    height: 16px;
                    line-height: 16px;
                }
                .entry__desc{
                    font-size: 14px;
                    line-height: 16px;
                    max-height: 32px;
                    overflow: hidden;
                }
                .entry__action{
                    right: 20px;
                    .transform(scale(0.6));
                    .transform-origin(right bottom);
                }
            }
            .tts__more{
                width: 100%;
                height: 100%;
                padding-top: 35px;
                .tts__more__box{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 100%;
                    .transform(translate(0,-50%));
                }
                .more__title{
                    font-size: 18px;
                    height: 18px;
                    line-height: 18px;
                }
                .more__subtitle{
                    font-size: 22px;
                    height: 22px;
                    line-height: 22px;
                    margin-top: 5px;
                    margin-bottom: 10px;
                }
                .more__link{
                    font-size: 12px;
                }
            }
            .tts__main{
                width: 100%;
                height: 100%;
                overflow: hidden;
                .main__entry{
                    padding: 20px 10px;
                    .entry__title{
                        font-size: 20px;
                        line-height: 20px;
                        height: 20px;
                    }
                    .entry__subtitle{
                        font-size: 16px;
                        height: 16px;
                        line-height: 16px;
                        margin-top: 5px;
                        margin-bottom: 10px;
                    }
                    .entry__desc{
                        font-size: 14px;
                    }
                    .entry__action{
                        .transform(scale(0.6));
                        .transform-origin(right bottom);
                    }
                }
            }
        }
        .tts__footer{
            position: absolute !important;
            bottom: 0 !important;
            width: 100% !important;
            left: 0 !important;
            height: 30px !important;
            line-height: 30px !important;
        }
    }
}
