@head-padding-top: 10px;
@head-padding-bottom: 15px;

.tts__head{
    position: relative;
    z-index: 1;
    .head__box{
        padding-top: @head-padding-top;
        padding-bottom: @head-padding-bottom;
        box-sizing: border-box;
        &:after{
            display: block;
            content: '';
            clear: both;
        }
        .box__logo{
            float: left;
            img{
                width: 250px;
            }
        }
        .box__nav{
            float: right;
            padding-top: 25px;
        }
        .nav__item{
            display: inline-block;
            position: relative;
            margin-right: 45px;
            cursor: pointer;
        }
        .item__icon {
            float: left;
            margin-right: 15px;
        }
        .item__entry {
            float: left;
        }
        .entry__title {
            color: @color-white;
            font-size: 19px;
        }
        .entry__subtitle {
            color: @color-origin;
            font-size: 19px;
        }
    }
}
